@model IEnumerable<Author>

@foreach(var item in Model){
	
<div class="container blue d-flex space-between author-section">
    <div>
            <a asp-action="detail" asp-controller="author" asp-route-id="@item.Id">
                <img class="author-image"
                 src="~/assets/img/@item.Image"
                 alt="author" />
            </a>
     </div>

    <div class="about-author-section">
        <h2 class="about-author-underline blue">@item.Name</h2>
        <p class="gray">
           @item.Description
        </p>
        <div class="yellow-border-section d-flex space-between">
            <div class="border-right-yellow">
                <h2>07</h2>
                <p class="gray">Books Published</p>
            </div>
            <div class="border-right-yellow">
                <h2>English</h2>
                <p class="gray">Language</p>
            </div>
            <div>
                <h2>@item.PhoneNumber</h2>
                <p class="gray">Phone Number</p>
            </div>
        </div>
    </div>
</div>
}