<link rel="stylesheet" href="~/Css/about.css" />
<link rel="stylesheet" href="~/Css/home.css" />
@model AuthorVM

<div class="bg-blue">
    <div class="nav container d-flex">
        <h1 class="unique-text">About the Author</h1>
        <p class="gray w-400">
            There are many variations of passages of Lorem Ipsum available, have
            suffered alteration in some form.
        </p>
    </div>
</div>
<!-- about the author blue end -->
<!-- about author light-blue start -->
<section class="bg-light-blue">
    <div class="container d-flex f-dir-column align-center about">
        <div class="author-img-container" style="max-width:100&">
            <img src="~/assets/img/@Model.Author.Image" style="width:100%; height:500px" alt="dr.John Abraham" />
        </div>
        <div class="d-flex space-between about-author-container">
            <div class="about-author-card bg-white blue">
                <div class="d-flex space-between align-end">
                    <h4>Language :</h4>
                    <h5 class="gray w-100">
                        English
                    </h5>

                </div>
                <div class="d-flex space-between align-end">
                    <h4>Genre :</h4>
                    <h5 class="gray w-100">
                       Historical
                    </h5>
                </div>
                <div class="d-flex space-between align-end publication">
                    <h4 class="publication-date">Publication date:</h4>
                    <h5 class="gray w-100">@Model.Author.CreatedDate.Year</h5>
                </div>
                <div class="d-flex align-center space-between">
                    <h4>Share us on:</h4>
                    <div class="small-icons w-100 d-flex">
                        <a target="_blank" href="https://www.facebook.com/">
                            <i class="fa-brands i-blue fa-facebook-f fa-xs"> </i>
                        </a>

                        <a target="_blank" href="https://twitter.com/">
                            <i class="fa-brands i-blue fa-twitter fa-xs"> </i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="fa-brands i-blue fa-linkedin-in fa-xs"> </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-author-text blue">
                <h2>About Dr. @Model.Author.Name </h2>
                <h4 class="gray">
                    @Model.Author.Description
                </h4>
                <button class="btn">
                    <a class="blue" href="#">Contact Now</a>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- about author light-blue end -->
